@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

body{
    width: 100vh;
    height: 100vh;
    background-color: aqua;
}

section#huawei{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background-image: url("/imagens/huawei1.png");
}