@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

body{
    width: 100vh;
    height: 100vh;
    background-color: aqua;
}

section#huawei{
    background: url("../imagens/huawei1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 264px;
    height: 540px;
    
}

section#huawei article{
    
    position: absolute;
    width: 71px;
    height: 19px;
    top: 4.3%;
    left: 37%;
    background-image: url("../imagens/camera-removebg-preview.png");
}

iframe{
    position: absolute;
    top: 4.5%;
    left: 7.2%;
    border-radius: 20px 20px 15px 15px;
    width: 227px;
    height: 480px;
}

section#botoes{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

}

section#botoes div{
    display: inline-block;
}

section#botoes img{

    width: 45px;
    border-radius: 50%;
    margin-top: 2%;
    box-shadow: 7px 7px 11px 1px rgba(0, 0, 0, 0.5);
}